# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/

# Django
db.sqlite3
staticfiles/
media/

# Node
node_modules/
dist/
.angular/
coverage/
.tmp/
.runtime/

# Env
.env
.env.local
.env.*.local

# Editors
.idea/
.vscode/
